@import "./variables.scss";

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.btn.btn-danger {
  border: none;
  background-color: $color-secondary2;
  &:focus {
    background-color: $color-secondary2-darkest;
  }
  &:active{
    background-color: $color-secondary2;
  }
}

.btn.btn-success {
  border:none;
  background-color: $color-complementary;
  &:focus{
    background-color: $color-complementary-darkest;
  }
  &:active{
    background-color: $color-complementary;
  }
}