$color-primary-lightest:       #ffad86;
$color-primary-light:          #ff905a;
$color-primary:                #ff6b24;
$color-primary-darker:         #bf6c44;
$color-primary-darkest:        #a63e0c;


$color-secondary1-background: #ffefd3;
$color-secondary1-lightest:    #ffd386;
$color-secondary1-light:       #ffc35a;
$color-secondary1:             #ffaf24;
$color-secondary1-darker:      #bf9244;
$color-secondary1-darkest:     #a66e0c;

$color-secondary2-lightest:    #fb85b1;
$color-secondary2-light:       #fb5995;
$color-secondary2:             #f82372;
$color-secondary2-darker:      #ba426e;
$color-secondary2-darkest:     #a10b43;

$color-complementary-background: #d2fced;
$color-complementary-lightest: #82f6cd;
$color-complementary-light:    #57f6be;
$color-complementary:          #21eda5;
$color-complementary-darker:   #3fb289;
$color-complementary-darkest:  #0b9a67;

$color-not-focus-text:     #e0e0e0;

$color-primary-text:       white;
$color-secondary1-text:    white;
$color-secondary2-text:    white;
$color-complementary-text: white;
